<header>
	<a href="#">
	<img src="../../app/assets/images/logo-puce-png.png" id="logo">
</a>
<div class="title-subtitle">
	<h2> <a [routerLink]="['/']">{{title}} </a></h2>
	<h2> {{description}}</h2>

</div>

<a class="btn-add-favorito" [routerLink]="['/crear-marcador']">
Crear Dato
</a>

<div class="clearfix"> </div>

</header>

<section class="main">
	<!--agregar otro componente 
	<favoritos-list> </favoritos-list> -->
	<router-outlet> </router-outlet>
	<div class="clearfix"> </div>

</section>
	

